/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

.box {
	border-radius:4px;
}

.box.gray {
	color: #666;
	background-color:#eee;	
}

.box.white {
	color: #333;
	background-color:#fff;	
}

.padding				{ padding:10px; }
.padding-5				{ padding:5px; }

.margin					{ margin:10px; }
.margin-bot				{ margin-bottom:10px; }
.margin-top				{ margin-top:10px; }
.margin-right			{ margin-right:10px; }
.margin-left			{ margin-left:10px; }

.margin-5				{ margin:5px; }
.margin-bot-5			{ margin-bottom:10px; }
.margin-top-5			{ margin-top:10px; }
.margin-right-5			{ margin-right:10px; }
.margin-left-5			{ margin-left:10px; }

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

.four input[type="text"] {
	width: 188px;
}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Desktop and Tablet Sizes >= 768 (devices and browsers) */
	@media only screen and (min-width: 768px) {
		.desk-full {
			width:100%;
		}
	}
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.mob-full {
			width:100%;
		}
		
		.mob-third {
			width:33%;
		}
		
		.mob-margin-bot {
			margin-bottom:10px;
		}

		.mob-margin-top {
			margin-top:10px;
		}

		.mob-margin-right {
			margin-right:10px;
		}

		.mob-margin-left {
			margin-left:10px;
		}	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/